{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="contemt-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="from-group">
            <legend class="border-bottom mb-4">
                Log In
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="from-group">
            <button class="btn btn-outline-info" type="submit"> Reset Password</button>
        </div>
    </form>

</div>

{% endblock content %}